@page "/map/{SavedGameId:int}"
@using Model.Entities.Map
@using Domain.Repositories.Interfaces
@using Model.Entities
@using Domain.Repositories.Implementations
@inherits LayoutComponentBase
@inject IMapRepository _mapRepository
@inject ISavedGameRepository _sgRepository
@inject SavedGameRepository _SavedGameRepository


<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<div style="text-align: center ">
    <div class="m-auto">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item">@sg.Name</li>
            <li class="list-group-item">@sg.Round</li>
            <li class="list-group-item">@sg.HP</li>
            <li class="list-group-item">@sg.Money</li>
        </ul>
    </div>
    <MudLayout>
        <MudMainContent>
            @if (FieldList is not null) {
                @for (int i = 0; i < FieldList.GetMaxX(); i++) {
                    @for (int j = 0; j < FieldList.GetMinY(); j++) {
                        @if (FieldList.Contains(i, j)) {
                            <img src="@FieldList.GetField(i,j).GetFieldType()" alt="image"/>
                        }
                    }
                    <br/>
                }
            }
        </MudMainContent>
    </MudLayout>
</div>


@code {
    [Parameter]
    public int SavedGameId { get; set; }

    public FieldList FieldList { get; set; }

    public SavedGame sg { get; set; }
    
    protected async override Task OnInitializedAsync()
    {
        sg = await _sgRepository.ReadAsync(SavedGameId);
        var map = await _mapRepository.ReadGraphAsync(sg.MapId);
        var me = await _sgRepository.ReadGraphAsync();

        if (map is not null) {
            FieldList = new FieldList(map.Fields);
        }
    }
}